<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Master of Computer Science with competence in machine learning & big data application development using Java, Hadoop & Cloud computing. Specializing in Data analytics, Machine Learning & Cloud Computing. Self-motivated professional with experience in end to end software development in cross-functional Agile (Scrum) development team.</p>
</div><!--//summary-->
</section><!--//section-->