 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Masters in Computer Science</h4>
    <h5 class="meta">Illinois Institute of Technology</h5>
    <div class="time">2015 - 2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">M.Tech. in RF & Microware Engineering<br><br>B.Tech.(Hons.) in Electronics & Electrical Communications Engineering</h4>
    <h5 class="meta">Indian Institute of Technology Kharagpur</h5>
    <div class="time">2009 - 2014</div>
</div><!--//item-->
</div><!--//education-container-->