<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Other Experiences</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Advisor, Web-Master Committee</h3>
                <div class="time">Jan. 2017 - Present</div>
            </div><!--//upper-row-->
            <div class="upper-row">
                <h3 class="job-title">Co Chair, Web-Master Committee</h3>
                <div class="time">Jan. 2016 - Jan. 2017</div>
            </div><!--//upper-row-->
            <div class="company">TEDxIIT.com, Chicago, IL</div>
        </div><!--//meta-->
        <div class="details">  
            <ul>
                <li>Responsible for mentoring, knowledge transfers and guiding the web master committee.</li>
                <li>Integrated real-time feeds from Facebook with the site using Facebook API, JavaScript and Ajax.</li>
                <li>Designed and implemented URL shorting system so as to create a dynamic sub-domain forwarding system.</li>
                <li>Added information extraction techniques to Twitter, Instagram & Facebook feeds to generate dynamic word clouds.</li>
                <li>Maintenance and upgrading of the domain <a href="http://www.tedxiit.com">www.tedxiit.com</a> using JavaScript, PHP, SQL, HTML5/CSS, WordPress.</li>
                <li>Managed the access and permission for various users of the site.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->
    
</section><!--//section-->